{% load static %}

<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>
    <body>
        {% block content %}
        <div class="content-wrapper">
            {% if user.is_authenticated %}
                <h2 class="user-greeting">Welcome, {{ user.username }}</h2>
                <a href="{% url 'expenses' %}" class="expenses-link">Open Expenses</a>
            {% else %}
                <div class="home">
                    <h2>Welcome!</h2>
                    <div class="buttons">
                        <a href="{% url 'register' %}">
                            <button class="register-btn">Register</button>
                        </a>
                        <a href="{% url 'login' %}">
                            <button class="login-btn">Login</button>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
        {% endblock %}
    </body>
</html>

