{% load static %}
<head>
    <!-- Link to external CSS file for login page styling -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_styles.css'  %}">
</head>

{% block content %}

    <!-- Display error message if there are form errors -->
    {% if form.errors %}
        <p>The Username and/or Password are not right. Please, try again.</p>
    {% endif %}

    <!-- Login form -->
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="container">
            <div class="form-container">
                <div class="form">
                    <h2 style="text-align: center;">Sign In</h2>

                    <!-- Username field -->
                    {{ form.username.label_tag }}
                    <br>
                    {{ form.username }}
                    <br><br>

                    <!-- Password field -->
                    {{ form.password.label_tag }}
                    <br>
                    {{ form.password }}
                </div>
                <br>

                <!-- Submit button -->
                <div class="button-container">
                    <button class="btn btn-primary" type="submit">
                        Login
                    </button>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

